p {
   font-size: 14px;
}
h2{
   color:white;
}
h3{
   color:white;
}
h4{
   color:white;
}

img.filter-svg {
   filter: contrast(0.45);
}

#logo {
   background-color: red;
   width: 150px;
   padding: 10px;
   display: flex;
   top:10px;
   --bs-gutter-x: 1.5rem;
   left:calc(var(--bs-gutter-x) * 1.5);
}

.logo > span{
   margin:0 auto;
   color:white;
}

.header{
   margin-top:30px;
}

#checks{
   margin-top:20px;
}


label{
   color:white;
}
